h1,h2,h3,h4,h5,h6{
    color:red;
    background-color:yellow;
    text-align: center;
    border:1px solid red;
    padding:20px;
    width:50%;
    border-radius:0px 60px;
    box-shadow:0px 0px 20px black;
    margin:50px;
}