p{ 
border: 1px solid whitesmoke; 
width: 20%; 
display: inline-block; 
padding: 5px; 
margin: 20px; 
border-radius: 20px; 
text-align: justify; 
font-family: Comic Sans MS; 
color: white; 
background: linear-gradient(45deg,blue,red);
}