.container{
    background-color:rgb(194, 176, 176);
    padding:10px;
    font-size : 1.5rem;
    display : flex;
    flex-wrap : wrap;
}
.box1{
    background-color: aquamarine;
}
.box2{
    background-color: rgb(248, 227, 201);
}
.box3{
    background-color:rgb(203, 235, 235)
}
@media only screen and(max-width:700px){
    .box1{
        background-color: blanchedalmond;
        font-size: 3rem;

    }
}